[submodule "vim-erlang-tags"]
	path = vim-erlang-tags
	url = git@github.com:vim-erlang/vim-erlang-tags.git
[submodule "vim-erlang-compiler"]
	path = vim-erlang-compiler
	url = git@github.com:vim-erlang/vim-erlang-compiler.git
