test/fixture/rebar3_app/mylib/_build
test/fixture/rebar3_app/mylib/rebar.lock

test/fixture/rebar3_release/myapp/_build
test/fixture/rebar3_release/myapp/rebar.lock

test/fixture/errors/compilation_error/_build/
test/fixture/errors/compilation_error/rebar.lock

test/fixture/errors/edoc_error/_build/
test/fixture/errors/edoc_error/rebar.lock
